* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: rgba(23, 217, 136, 0.8);
    padding: 1rem;
    position: fixed;
    font-family: 'Amatic SC', cursive;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}


.nav_txt a {
    color:#dd2525;
    font-weight: 700;
    font-size: 2rem;
    
}

.nav-menu:active {
    color: white;
}


.fixed-bg {
    background-image: url("assets/Slits-AntonCorbijn1.jpg");
    min-height: 550px;
    background-attachment: fixed;
    top:0px;
    background-repeat: no-repeat;
    
  }

img.header {
    top: 0;
    left: 0;
    max-width: 100%; 
    min-height: 300px;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    font-weight: 700;
    color: #dd2525;
    text-align: center;
}

.white-bg {
    background: rgba(255, 255, 255, 0.329);
    /* padding: 2rem;*/
    margin-top: 2rem; 
    line-height: 2.5rem;
}

.cards-bg {
    background: black;
    padding-left: 2rem;
}


.header h1 {
    position:relative;
    text-align: right;
    top: 400px;
    right: 0;
    padding-right: 100px;
    font-family: 'Amatic SC', cursive;
    color:#dd2525;
    font-weight: 800;
    font-size: 6rem;
}

.container-fluid {
    max-width: 1200px;
    background-image: url("https://images.pexels.com/photos/925743/pexels-photo-925743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    border-radius: 10px;
    margin: 0 auto;
    padding: 1rem;
}



.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-art {
    color: white;
    border-radius: 10px;
    padding: 1rem;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.form-margin { 
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    border-style: none;
    padding: 1rem;
    color: white;
    margin-top: 35px;
}


legend {
    font-family: 'Amatic SC', cursive;
}

.title {
    margin:20px 0;
}

.button {
    background-color: #dd2525;
    color: white;
    border-radius: 10px;
    padding: 0.3rem;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.save {
    margin-top: 10px;
}

.adaptatifTextarea {
    min-height:40px;
    max-height:100px;
    min-width: 300px;
}

.row
{
    margin-top: 2rem;
}

legend h4 {
    text-align: left;
    font-size: 1rem;
    line-height: 2rem;
    text-shadow: 1px 1px 1px #000;
}

#login {
    background-color: rgba(238, 13, 13, 0.5);
    color: white;
    margin: 20px;
    justify-content: end;
    margin-left: 200px;
    
}

.is-hidden{
    display: none;
}


h3.article {
    font-family: 'Amatic SC', cursive;
    text-align: left;
}

.footer {
    background-color: #000;
    font-size: smaller;
    padding-top: 0.1rem;
    margin-top: 100px;
    width: 100%;
}

.footer-items {
    display:flex;
    flex-direction: row;
}
.p-footer {
    display: inline;
    text-align: center;
    color:#fff;
}

.p-footer p {
    color: white;

}

form {
    padding:20px;

}

input {
    width: 250px;
    margin:10px;
    border-radius: 5px;
}

textarea {
    margin:10px;
    border-radius: 5px;
}

form#connect {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

form#connect label {
    color: #fff;
}

.p-footer a {
    text-decoration: none;
    color: #fff
}

@media (max-width: 768px) {

    .footer-items {
        flex-direction: column-reverse;
    }
}